In [3]:
import graphlab

In [5]:
from graphlab import SGraph, Vertex, Edge, SFrame

In [6]:
edge_data = SFrame.read_csv( 'H:/graphlab/2013_q1/edge_list.csv')

[INFO] GraphLab Create v1.8.3 started. Logging: C:\Users\anant\AppData\Local\Temp\2\graphlab_server_1456285224.log.0

Finished parsing file H:\graphlab\2013_q1\edge_list.csv

Parsing completed. Parsed 1394933 lines in 0.562502 secs.

------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,long,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [7]:
edge_data.show()

Canvas is accessible via web browser at the URL: http://localhost:49656/index.html
Opening Canvas in default web browser.

In [8]:
node_data=SFrame.read_csv('H:/graphlab/2013_q1/nodes.csv')

Finished parsing file H:\graphlab\2013_q1\nodes.csv

Parsing completed. Parsed 100 lines in 0.070996 secs.

Finished parsing file H:\graphlab\2013_q1\nodes.csv

Parsing completed. Parsed 250396 lines in 0.100972 secs.

------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,long,long,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [9]:
node_data.head()

Columns:
	DealerTIN	int
	indegree	int
	outdegree	int
	network_number	int
	self_loop	int

Rows: 10

Data:
+-----------+----------+-----------+----------------+-----------+
| DealerTIN | indegree | outdegree | network_number | self_loop |
+-----------+----------+-----------+----------------+-----------+
|   427816  |    3     |     0     |       1        |     0     |
|   489461  |    2     |     2     |       1        |     0     |
|   427810  |    28    |     3     |       1        |     0     |
|   160199  |    9     |     0     |       1        |     0     |
|   427809  |   125    |     0     |       1        |     0     |
|   155446  |    8     |     7     |       1        |     0     |
|   252192  |    3     |     39    |       1        |     0     |
|   300114  |    1     |     2     |       1        |     0     |
|   427796  |    3     |     8     |       1        |     0     |
|   395109  |    9     |     16    |       1        |     0     |
+-----------+----------+-----------+----------------+-----------+
[10 rows x 5 columns]

In [10]:
g = SGraph(vertices=node_data, edges=edge_data, vid_field='DealerTIN', src_field='Source', dst_field='Destination')

In [11]:
g.show()

Canvas is updated and available in a tab in the default browser.

In [13]:
g.save('H:/graphlab/2013_q1/Sold_to_2013_q1')

In [14]:
new_graph = graphlab.load_sgraph('H:/graphlab/2013_q1/Sold_to_2013_q1')

In [15]:
new_graph.summary()

{'num_edges': 1394933L, 'num_vertices': 250396L}